.site-footer {
    background-image: url("../../images/dark-wood.png");
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    .copyright {
        margin-left: 40%;
        margin-bottom: 30px;
        color: white;
        flex-basis: 100%;
    }

    #footer-sidebar1 {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 50%;
        font-family: "Merriweather";
        font-size: 20px;
        margin-top: 25px;
        flex-basis: 50%;

        .social-media {
            display: flex;
            width: 100px;
            justify-content: space-between;

            a {
                color: white;
            }
        }

        .link {
            color: white;
            text-decoration: none;
            &:hover {

                text-decoration: underline;
            }
        }

        p {
            color: white;
        }

        h3 {
            color: $orange;
            font-family: sans-serif;
            text-transform: uppercase;
        }

        .widget-hours {
            color: white;
        }

    }

    .widget-title {
        color: $orange;
        text-transform: uppercase;
    }

    .inhabitent-footer-logo {
        background-image: url("../../images/logos/inhabitent-logo-text.svg");
        background-repeat: no-repeat;
        height: 100px;
        // margin-left: 100px;
        margin-top: 50px;
    
        flex-basis: 30%
    
    }

}