

.site-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    border-bottom: 1px solid $lite-grey;

    .search-form {
        height: 20px;
        border: none;
        display: flex; 
        margin-top: -20px;
        margin-left: -80px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        fieldset {
            border: none;
            display: flex;
            flex-direction: row;

            .search-field {
                width: 0;
                background: none;
                border: none;
                text-transform: uppercase;
                transition-duration: 1s;

            }

            .search-visible {
                width: 200px;
                transition-duration: 1s;
            }

            .search-submit {
                box-shadow: none;
                background: none;
                border: none;

                .icon-search {
                    color: $green;

                }
            }
        }

    }

    .minilogo {
        background: url("../../images/logos/inhabitent-logo-tent.svg") 50%/50px no-repeat;
        width: 50px;
        height: 50px;
        margin-left: 125px;
    }
    
    .main-navigation {
        color: $lite-grey;
        margin-right: 80px;

        li {
            font-weight: lighter;
            float: right;
            padding-left: 30px;
            font-size: 18px;
        }
    }
}

