.home {

    .minilogo {
        background: url("../../images/logos/inhabitent-logo-tent-white.svg") 50%/50px no-repeat;
        width: 50px;
        height: 50px;
        margin-left: 125px;
    }

    .site-header {
    
        a {
            font-family: sans-serif;
        }
    }

    .site-footer {
        position: relative;
        top: 1500px;
    }

    .round-logo {
        background: url("../../images/logos/inhabitent-logo-full.svg") 100%/300px no-repeat;
        width: 400px;
        height: 400px;
        position: relative;
        top: 100px;
        left: 32%;

    }

    // JOURNAL

    .latest-news {
        position: relative;
        top: 650px;
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        justify-content: space-between;

        .journal-title-front {
            flex-basis: 100%;
            align-self: center;
            font-family: sans-serif;
            font-weight: lighter;
            text-align: center;
            color: $purple;
            margin-bottom: 70px;
            text-transform: uppercase;
            font-size: 50px;
        }

        .journal-news-preview {
            flex-basis: 32%;
            display: flex;
            height: auto;
            flex-direction: column;
            border: 1px solid $lite-grey;

            .post-image-homepage {
                border-bottom: 4px solid $lite-grey;
            }

            .post-date-comments {
                display: flex;
                font-size: 14px;
                font-family: "Merriweather";
                width: 100%;
                margin-left: 10px;
                
                .post-date-homepage {
                    flex-basis: 25%;
                }

                .post-comments-count {
                    flex-basis: 75%;
                    width: 100%;
                }
            }
    
            .post-title-homepage {
                color: $green;
                text-transform: uppercase;
                width: 100%;
                font-size: 25px;
                font-family: sans-serif;
                margin-left: 10px;
                margin-top: -25px;
            }
    
            .read-entry-button2 {
                border: 1px solid black;
                text-align: center;
                width: 140px;
                height: auto;
                padding: 10px;
                margin-left: 10px;
                margin-top: -15px;

                &:hover {
                    border: $green;
                    background: $green;
                }

                a {
                    color: black;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-weight: lighter;
                    font-size: 15px;

                    &:hover {
                        color: white;
                    }
                }

                
            }
        }    
    }

    // SHOP 

    .shop-frontpage {
        position: relative;
        top: 500px;
        display: flex;
        flex-wrap: wrap;
        height: 400px;
        width: 90%;
        margin-top: 100px;
        margin-left: auto;
        margin-right: auto;
        justify-content: space-around;

        .shop-title-front {
            flex-basis: 100%;
            align-self: center;
            font-family: sans-serif;
            font-weight: lighter;
            text-align: center;
            color: $purple;
            margin-bottom: 70px;
            text-transform: uppercase;
            font-size: 50px;
        }

        .category-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex-basis: 23.5%;

            border: 1px;
            border-top: 5px;
            border-color: $lite-grey;
            border-style: solid;
            height: 300px;
            padding: 15px;
            margin: auto;

            &:hover {
                border-color: $orange;
            }

            .category-icon {
                height: auto;
                width: 60px;
            }

            .category-description {
                width: 100%;
                font-family: "Merriweather";
                font-size: 21px;
                text-align: center;
            }

            .shop-category {
                text-transform: uppercase;
                text-align: center;

                padding: 10px 10px;
                font-size: 14px;
                width: 150px;
                background: $green;
                color: white;

                a {
                    color: white;
                    text-decoration: none;

                    &:hover {
                        text-decoration: none;
                        color: white;
                    }
                }

               
                &:hover {
                    background: darken($green, 15%);
                }
            }
        }
    }
   // ADVENTURES 
   .adventures-title-front {
       position: relative;
       top: 750px;
       text-transform: uppercase;
       color: $purple;
       font-size: 50px;
       flex-basis: 100%;
       text-align: center;
       font-weight: lighter;
   }

   .more-adv-btn {
       position: relative;
       top: 1400px;
   }

   .adventures-container {
       position: relative;
       top: 800px;
       width: 80%;
       margin-left: auto;
       margin-right: auto;
       display: grid;
       grid-template-columns: 1fr 1fr 1fr 1fr;
       grid-template-rows: 1fr 1fr;
       height: 600px;
       grid-gap: 15px;
       margin-bottom: -500px;

       .adventures-overlay {
           position: absolute;
           width: 100%;
           height: 100%;
           z-index: 1;
           background: rgba(0,0,0, .3);
       }

       .read-entry-button3 {

        font-size: 15px;
           
            a {
                text-decoration: none;
                color: white;
                border: 1px solid white;
                background: transparent;
                text-transform: uppercase;
                font-family: sans-serif;
                font-weight: 100;
                padding: 15px 25px;
                position: relative;
                z-index: 2;
                margin-left: 30px;

                &:hover {
                    background: $green;
                    border-color: $green;
                    transition-duration: .5s;
                }
            }
       }

       .title-link {
           font-family: 'Merriweather';
           font-weight: 100;
           padding-top: 10px;
           padding-left: 30px;
           padding-right: 30px;
           position: relative;
           z-index: 2;
           line-height: 4rem;
           
           a {
               color: white;
               text-decoration: none; 
               

               &:hover {
                   color: lighten($orange, 20%);
               }
           }
       }

       .adventure-image-homepage {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
       }

       :nth-child(1) {
           grid-column: 1 / span 2;
           grid-row: 1 / span 2;
        
           .title-link {

           a {
               font-size: 60px;
           }
        }
           
       }

       :nth-child(2) {
           grid-column: 3 / span 2;
           grid-row: 1 / span 1;

            .title-link {

                a {
                    font-size: 50px;
                }
            }

           .adventures-overlay {
               height: 48.5%;
           }
       }

       :nth-child(3), :nth-child(4) {

            .title-link {

                line-height: 3rem;

                a {
                    font-size: 35px;
                }

            }

            .adventures-overlay {
                width: 48.5%;
                height: 48.5%;
            }
       }
   }
}   







