.page-id-75 {
    
    .minilogo {
        background: url("../../images/logos/inhabitent-logo-tent-white.svg") 50%/50px no-repeat;
        width: 50px;
        height: 50px;
        margin-left: 125px;
    }

    .site-header {
        border-bottom: 0;
        background: transparent;
        position: absolute; 
    
    
        a {
            color: white;
            font-family: sans-serif;
        }
    }

    .site-footer {
        position: relative;
        top: 800px;
    }

    .round-logo {
        background: url("../../images/logos/inhabitent-logo-full.svg") 100%/300px no-repeat;
        width: 400px;
        height: 400px;
        position: relative;
        top: 100px;
        left: 32%;

    }

    .latest-news {
        position: relative;
        top: 650px;
    }
}   







